.language-info {
  display: none;
}
body {
  background-image: url(../img/background.jpg);
}


h1 {
  font-size: 80px;
  text-align: center;
}

#head {
  text-align: center;;
  font-size: 40px;
}

#corp {
 text-align-last: left;
}

.panel {
  border: none;
}
